rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Allow any logged-in user to read and list gigs.
    match /gigs/{gigId} {
      allow read: if request.auth != null;
    }
    
    // Allow organizers to create gigs.
    match /gigs/{document=**} {
        allow create: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'organizer';
    }

    // Allow any logged-in user to read and list events.
    match /events/{eventId} {
      allow read: if request.auth != null;
    }

    // Allow organizers to create events.
     match /events/{document=**} {
        allow create: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'organizer';
    }

    // Allow users to read and write to their own profile
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
