
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Gigs should be publicly readable, but only writeable by the organizer who owns it.
    match /gigs/{gigId} {
      allow list, get: if true;
      allow create: if request.auth != null && request.resource.data.organizerId == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.organizerId == request.auth.uid;
    }
    
    // Events should be publicly readable, but only writeable by the organizer who owns it.
    match /events/{eventId} {
       allow list, get: if true;
       allow create: if request.auth != null && request.resource.data.organizerId == request.auth.uid;
       allow update, delete: if request.auth != null && resource.data.organizerId == request.auth.uid;
    }

    // Users can only read other profiles if they are logged in.
    // A user can only create/update their own profile.
    match /users/{userId} {
      allow get: if request.auth != null;
      allow list: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
